/* .wrapper bg pic */
.wrapper {
    min-height: 900px;
    background-size: cover;
    background-image: url('/images/login/login-page.jpeg');
}

/* .form  */
.form {
    border-right: 1px solid #3f2c2c; /* color */
    min-height: 900px;
    max-width: 450px;
    padding-top: 80px;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(1px); 
}
/* mobile */
@media (max-width: 576px) { /* screen */
    .form {
        max-width: 100%;
    }
}

/* title */
.title {
    color: #000; /* coloer */
    font-family: 'Greycliff CF', sans-serif;
    text-align: center; 
}


